<!DOCTYPE html>
<html>
    <head>
        <style>
            :root {
                --base-size: 1vw; /* Unidade base baseada na largura da viewport */
            }

            body {
                margin: 0;
                padding: 0;
                overflow: hidden;
                height: 100%;
                font-family: Verdana;
            }

            .main {
                position: relative;
                width: 100vw;
                height: 100vh;

                > * {
                    position: absolute;
                    display: block;
                    border: none;
                }
            }

            .popup {
                top: 5vh;
                height: calc(100% - 10vh);
                transform: translateX(-100%);
                width: 15%;
                left: calc(100% - 5vh);
                border-radius: 1vh;
                background-color: rgba(45, 45, 45, 0.90);
                color: rgb(200,200,200);
                font-size: calc(1vw + 0.5vh);
                display: grid;
                gap: 1vw;
                grid-template-columns: 100%;
                grid-template-rows: 1fr 5fr 2fr;
                align-items: center;
                z-index: 3;
            }

            .header {
                display: grid;
                align-items: center;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 100%;

                img {
                    width: 40%;
                    margin-left: auto;
                    margin-right: auto;
                }
            }

            .middle {
                display: grid;
                gap: 1vw;
                grid-template-columns: 100%;
                grid-template-rows: 1fr 3fr 2fr;
                align-items: center;
                text-align: center;

                img {
                    width: 80%;
                    margin-left: auto;
                    margin-right: auto;
                }
            }

            .footer {
                display: grid;
                gap: 1vw;
                grid-template-columns: 100%;
                grid-template-rows: 1fr 1fr;
                align-items: center;

                .button {
                    background-color: rgb(100, 100, 100);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    width: 90%;
                    height: 6vh;
                    margin-left: auto;
                    margin-right: auto;
                    font-size: calc(1vw + 0.6vh);
                    text-align: center;
                    display: grid;
                    align-items: center;
                }
            }

            .vota {
            position: absolute;
            top: 70%;
            left: 10%;
            width: 80%;
            display: grid;
            gap: 1rem;
            text-align: center;
            font-family: sans-serif;
            font-size: 1.2vw;
            box-sizing: border-box;
            }

            .vota .bg {
            position: absolute;
            inset: 0;
            width: 100%;
            height: 140%;
            object-fit: fill;
            z-index: 0;
            }

            .vota .title {
            position: relative;
            top: 45%;
            z-index: 1;
            color: white;
            font-size: 3vw;
            font-weight: 700;
            text-shadow: 2px 2px 4px #000, -2px -2px 4px #000;
            -webkit-text-stroke: 1px black;
            margin: 0;
            }

            .vota .options {
            position: relative;
            top: 30%;
            left: 3%;
            z-index: 1;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 2vw;
            justify-items: center;
            }

            .vota .option {
            display: flex;
            align-items: center;
            gap: 0.6vw;
            background: rgba(0, 0, 0, 0);
            border: none;
            border-radius: 0.5vw;
            padding: 0.6vw 1vw;
            cursor: pointer;
            color: white;
            font-weight: bold;
            font-size: 2vw;
            text-shadow: 2px 2px 4px #000, -2px -2px 4px #000;
            -webkit-text-stroke: 1px black;
            }

            .vota .option img {
            width: 4vw;
            height: auto;
            }

            .focused {
                outline: 2px solid rgb(200, 200, 200);
            }
        </style>
        <script src="/js/jquery-3.7.1.min.js"></script>
        <script src="/js/navigation.js"></script>
    </head>
    <body>
        <div class="main">
            <div id="logos" class="popup" style="background-color: transparent;">
                <div class="header">
                    <img id="vr" src="media/webmedia/vr-logo.png" moveright="cmp" movedown="vot_1" select="openVRPop"/>
                    <img id="cmp" src="media/webmedia/companion-logo.png" moveleft="vr" movedown="vot_1" select="openCMPPop"/>
                </div>
            </div>

            <div id="vrpopup" class="popup">
                <div class="header">
                    <img id="vr-logo" src="media/webmedia/vr-logo.png"/>
                </div>

                <div class="middle">
                    <span>Connect your VR Headset!</span>
                    <img src="media/webmedia/video.png"/>
                </div>

                <div class="footer">
                    <div id="vr-conn" class="button" movedown="vr-back" select="btnVRConn"><span>CONNECTED</span></div>
                    <div id="vr-back" class="button" moveup="vr-conn" select="btnVRBack"><span>BACK</span></div>
                </div>
            </div>

            <div id="cmppopup" class="popup">
                <div class="header">
                    <span></span>
                    <img id="cmp-logo" src="media/webmedia/companion-logo.png"/>
                </div>

                <div class="middle">
                    <span>Open your <br/> Companion App</span>
                    <img src="media/webmedia/qrcode.png"/>
                </div>

                <div class="footer">
                    <div id="cmp-conn" class="button" movedown="cmp-back" select="btnCMPConn"><span>CONNECTED</span></div>
                    <div id="cmp-back" class="button" moveup="cmp-conn" select="btnCMPBack"><span>BACK</span></div>
                </div>
            </div>

            <div id="votapopup" class="vota">
                <img class="bg" src="media/webmedia/popup-background.png" alt="fundo">
                <h2 class="title">Escolha do Replay</h2>

                <div class="options">
                    <button class="option">
                    <img id="vot_1" src="media/webmedia/icon_arrow1.png" moveup="vr" moveright="vot_2" alt="">
                    <span>Comissão de Frente</span>
                    </button>
                    <button class="option" >
                    <img id="vot_2" src="media/webmedia/icon_arrow2.png" moveup="vr" moveleft="vot_1" moveright="vot_3" alt="">
                    <span>Abre-alas</span>
                    </button>
                    <button class="option" >
                    <img id="vot_3" src="media/webmedia/icon_arrow3.png" moveup="vr" moveleft="vot_2" alt="">
                    <span>Bateria</span>
                    </button>
                </div>
                </div>
        </div>
    
        <script>
            var video_timer = 0;
            window.addEventListener('message', receiveFrameMessage);
            window.addEventListener("message", (event) => {
                console.log("Tempo atual recebido:", event.data.tempo);  
                if (event.data.tempo >= 60 && video_timer == 0)
                {
                    startVote();
                    video_timer +=1;
                }

            });

            document.addEventListener('keydown', (e) => {navigate(e.key)});

            function receiveFrameMessage(e) {
                if(typeof e.data != 'object'){
                    let m = JSON.parse(e.data);
                    if (m.type == 'keydown') {
                        document.dispatchEvent(new KeyboardEvent('keydown', {key: m.key}));
                    }
                }
            }
            
            $('#logos').show();
            $('#vrpopup').hide();
            $('#cmppopup').hide();
            $('#vr').addClass('focused');

            $('#votapopup').hide();

            function startVote() {
                $('#votapopup').show();
                $('#vrpopup').hide();
                $('#cmppopup').hide();           
            }


            function openVRPop() {
                $('#logos').hide();
                $('#vrpopup').show();
                $('#cmppopup').hide();
                $('#vr').removeClass('focused');
                $('#vr-conn').addClass('focused');                
            }

            function openCMPPop() {
                $('#logos').hide();
                $('#vrpopup').hide();
                $('#cmppopup').show();
                $('#cmp').removeClass('focused');
                $('#cmp-conn').addClass('focused');
            }

            function btnBack() {
                $('#logos').show();
                $('#vrpopup').hide();
                $('#cmppopup').hide();
            }

            function btnVRBack() {
                btnBack();
                $('#vr-back').removeClass('focused');
                $('#vr').addClass('focused');
            }

            function btnCMPBack() {
                btnBack();
                $('#cmp-back').removeClass('focused');
                $('#cmp').addClass('focused');
            }
            
            var MSG_COUNT = 0;
            var handle_vr = "";
            var ws = new WebSocket("ws://localhost:8085");
            ws.onopen = function () {
                console.log("Connection opened...");
            };
            ws.onmessage = ReceiveDeviceMessage;
            ws.onclose = function () {
                console.log("Connection closed...");
                MSG_COUNT = 0;
            };
            
            function ReceiveDeviceMessage(evt) {
                var msg = JSON.parse(evt.data);
                console.log(JSON.stringify(msg, undefined, 2));
                if(msg.message.deviceClass == "guarana")
                    handle_vr = msg.handle;
                MSG_COUNT += 1;
            }
            
            async function btnVRConn() {
                // acessar rota do CCWS para pegar dispositivos conectados na classe guarana
                // conectar nos websockets recebidos
                // mandar mensagem de carregar cena no grarana
                // recebendo praparation.end manda presentation.start
                function wait(ms) {
                    return new Promise(resolve => setTimeout(resolve, ms));
                }
                
                function SendConfigManual(ws, config) {
                    ws.send(JSON.stringify(config));
                }
                function SendDeviceMessage(ws, form) {
                    console.log(handle_vr);
                    if(handle_vr == "")
                    {
                        alert("Dispositivo não encontrado");
                    }
                    else
                    {
                        ws.send(JSON.stringify({
                        service: 'remotedevice',
                        handle: handle_vr,
                        message: form
                        }));
                        console.log("Device Message Sent");
                    }
                }

                //App Config
                SendConfigManual(ws, {
                    service: "appfiles",
                    appid: "100",
                    path: "D:/GitHub/Guarana-Testing/WebMedia"
                });
                //User Config
                SendConfigManual(ws, {
                    service: "userapi",
                    path: "D:/GitHub/Guarana-Testing/UserAPI",
                    currentUser: "f626b4f2-d989-4fbf-9645-f830fd12b348",
                    currentService: "midiacom"
                });
                
                //Node Metadata Message
                SendDeviceMessage(ws, {
                    nodeId: "m1",
                    nodeSrc: "cena.ncl360",
                    appId: "100",
                    type: "application/x-ncl360"
                });
                
                //await wait(20000);
                //Action Metadata Message
                SendDeviceMessage(ws, {
                    nodeId: "m1",
                    label: "",
                    appId: "100",
                    eventType: "presentation",
                    action: "start"
                });
            }

            function btnCMPConn() {
                // acessa rota do CCWS para pegar dispositivos conectados na classe companion
                // conectar nos websockets recebidos
                // { type: 'vote', buttons: [{ imagem, url}} ]} -- combinar com Rodrigo os formato
            }

            // pegar os tempos do video e chamar as funções para tocar efeitos sensoriais e para abrir os popups de votação
        </script>
  </body>
</html>